name: "Safe Explorer"
help: 'Pytorch implementation of "Safe Exploration in Continuous Action Spaces".'
arguments:
  - name: "env"
    help: "Configuration related to simulation environments."
    properties:
      - name: "obstacleavoid"
        help: "Avoiding obstacles while getting to a goal."
        properties:
          - name: "target_margin"
            default: 0.2
          - name: "agent_slack"
            default: 0.05
          - name: "episode_length"
            default: 30
          - name: "frequency_ratio"
            default: 0.1
          - name: "respawn_interval"
            default: 4
          - name: "target_noise_std"
            default: 0.05
          - name: "enable_reward_shaping"
            default: false
          - name: "reward_shaping_slack"
            default: 0.1
          - name: "action_scale"
            default: 0.3
      - name: "obstacleavoidisaaclab"
        help: "Avoiding obstacles while getting to a goal in isaaclab."
        properties:
          - name: "target_margin"
            default: 0.2
          - name: "agent_slack"
            default: 0.25
          - name: "episode_length"
            default: 30
          - name: "action_ratio"
            default: 6
          - name: "respawn_interval"
            default: 10
          - name: "target_noise_std"
            default: 0.05
          - name: "enable_reward_shaping"
            default: false
          - name: "reward_shaping_slack"
            default: 0.1
          - name: "action_scale"
            default: 0.22
          - name: "num_lidar_buckets"
            default: 9
          - name: "device"
            default: "cpu"
          - name: "headless"
            default: true
          - name: "num_envs"
            default: 1
          - name: "arena_size"
            default: 6
          - name: "num_obstacles"
            default: 3
          - name: "obstacle_size"
            default: 0.2
          - name: "enable_cameras" # sensors don't get updated if this is off
            default: true
  - name: "ddpg"
    help: "Hyperparameters for DDPG algorithm."
    properties:
    - name: "actor"
      help: "Actor network parameters."
      properties:
        - name: "layers"
          default: [32, 16, 16]
        - name: "init_bound"
          default: 0.003
    - name: "critic"
      help: "Critic network parameters."
      properties:
        - name: "layers"
          default: [32, 16, 16]
        - name: "init_bound"
          default: 0.003
    - name: "trainer"
      help: "Training parameters."
      properties:
        - name: "epochs"
          default: 100
        - name: "steps_per_epoch"
          default: 6000
        - name: "evaluation_steps"
          default: 600
        - name: "batch_size"
          default: 256
        - name: "max_episode_length"
          default: 300
        - name: "replay_buffer_size"
          default: 1000000
        - name: "discount_factor"
          default: 0.99
        - name: "polyak"
          default: 0.995
        - name: "actor_lr"
          default: 0.001
        - name: "critic_lr"
          default: 0.001
        - name: "start_steps"
          default: 1000
        - name: "action_noise_range"
          default: 0.1
        - name: "use_gpu"
          default: false
        - name: "reward_scale"
          default: 1
        - name: "max_updates_per_episode"
          default: 20
        - name: "min_buffer_fill"
          default: 2000
  - name: "safety_layer"
    help: "Safety layer configuration."
    properties:
      - name: "constraint_model"
        help: "Hyperparameters for constraint model (g)"
        properties:
          - name: "layers"
            default: [10, 10]
          - name: "init_bound"
            default: 0.003
      - name: "trainer"
        help: "Constraint model training parameters"
        properties:
          - name: "batch_size"
            default: 256
          - name: "lr"
            default: 0.001
          - name: "max_episode_length"
            default: 600
          - name: "steps_per_epoch"
            default: 6000
          - name: "epochs"
            default: 10
          - name: "evaluation_steps"
            default: 1500
          - name: "replay_buffer_size"
            default: 1000000
          - name: "use_gpu"
            default: false
          - name: "save_data"
            default: true
  - name: "main"
    help: "Safe-Explorer driver properties."
    properties:
      - name: "trainer"
        help: "Training configuration."
        properties:
          - name: "seed"
            default: 0
          - name: "task"
            default: "obstacleavoidisaaclab"
          - name: "use_safety_layer"
            default: true
          - name: "output_folder"
            default: "./output"
          - name: "actor_model_file"
            default: "./output/actor.pt"
          - name: "critic_model_file"
            default: "./output/critic.pt"
          - name: "constraint_model_files"
            default: "./output/constraint_*.pt"
          - name: "test"
            default: false
          - name: "safety_layer_only"
            default: true
          - name: "train_safety_layer"
            default: true
          - name: "render_training"
            default: true
          - name: "render_evaluation"
            default: true

